.big {
  background-color: white;
  min-height: 100vh;
}

.navbar {
  background-color: #0089BA;
  min-height: 10%;
  color: white;
}



.nav-item {
  border-left: 1px solid white;
  height: 100%;
}

.nav-item:hover {
  background-color: white;
  color: #0089BA;
}

a.nav-link {
  color: inherit;
}

.nav-item.active {
  background-color: white;
  color: #0089BA;
}

img.profile-pic {
  border-radius: 50%;
  margin-top: 1em;
}

.about-me {
  text-align: center;
  margin-top: 1em;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div.email-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}