.big {
  background-color: white;
  min-height: 100vh;
}

.navbar {
  background-color: #0089BA;
  min-height: 10%;
  color: white;
}



.nav-item {
  border-left: 1px solid white;
  height: 100%;
}

.nav-item:hover {
  background-color: white;
  color: #0089BA;
}

a.nav-link {
  color: inherit;
}

.nav-item.active {
  background-color: white;
  color: #0089BA;
}

img.profile-pic {
  border-radius: 50%;
  margin-top: 1em;
}

.about-me {
  text-align: center;
  margin-top: 1em;
}